.btn-big {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: background-color 300ms;
	margin: 10px;
	border: none;
	border-radius: 3px;
	background-color: var(--buttons-color);
	padding: 7px;
	min-width: 100px;
	color: var(--button-text);
	font-size: 13px;

	&:hover {
		cursor: pointer;
		background-color: var(--button-hover);
	}
}
