.checkbox {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	margin: 4px;
	padding-block: 6px;
	text-wrap: nowrap;
}

.checkbox__label {
	color: var(--button-text);
	font-size: 15px;
}

.checkbox__input {
	appearance: none;
	margin: 0 5px 0 0;
	border-radius: 1px;
	background-color: var(--button-text);
	width: 12px;
	height: 12px;
}

.checkbox__input:checked {
	background-image: url("/check.svg");
	background-color: var(--button-hover);
}
