.tier-option {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: auto;
}

.tier-option--delete {
	grid-row: span 2;
	justify-content: right;
}

.tier-option__button {
	transition: color 200ms;
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
	color: var(--white);

	&:hover {
		color: #7f7f7f;
	}
}
